.html{
  color:#000;
}

.cover, .fade-bg { position: absolute;left:0;right:0; }
.fade-bg { min-height: 100vh; z-index: 1; opacity:0.1 }
.Footer { display:none !important;}


.cover{
    border:1px solid #f1f2f3;
    min-height:200px;
    width:900px;
    margin:5px auto;
    padding: 15px;
    z-index: 2;
}

.cover1{
  border:1px solid #f1f2f3;
  min-height:200px;
  width:950px;
  margin:5px auto;
  padding: 15px;
  z-index: 2;
}

.cover header{
    display: flex;
    justify-content: center;
}

.left-head{
   width:25%;
   flex:1.3;
   display: flex;
}

.right-head{
  flex:1.5;
  align-items: flex-end !important;
  justify-content: right;
}

.logo{
   height:80px;
   margin-right:15px;
   display:block;
}

.left-cover{
   width:350px;
   word-wrap: break-word;
}

h2,h3{
   font-family: serif,sans-serif;
   word-wrap: break-word;
   word-break: normal;
}

.left-head h2, h2{
  font-size: 18px;
  line-height:20px;
  font-weight: bolder;
  color:#111;
}

.left-head h3,h3{
  font-size: 17px;
  line-height:20px;
  font-weight: bolder;
}

address{
 max-width:200px;
 float:right;
 direction: rtl;
 font: normal bolder 11px serif; 
 color:#000;
}

hr{
 margin: 0;
}

.aurora-small{
  font-weight:400;
  font-size: 11px;
  color:#333;
}

.center{
  text-align:center;
}

.w50{
   width:65%;
   display:block;
}

.ws-auto{
  margin: 0 auto;
}

.red{
  color: red;
}

.black{
  color:#000 !important;
}

.ptable{
  border:none;
  box-shadow:none;
  margin-top:15px;
  width: auto;
}

.ptable td,.ptable tr{
  padding: 5px 5px 5px 0;
  border:none;
  vertical-align: top;
}

h3.title{
  border: 2px solid #ddd;
  padding:5px 10px 5px 5px;
  color:#000;
  min-width: max-content;
  max-width: fit-content;
}

.sbody{
  width: 400px !important;
  word-break: normal;
  font: normal bolder 17px serif; 
  color:#111;
}

.shead{
  font: normal 400 17px serif; 
  word-break: normal;
  color:#111; 
}

.wrap{
  word-break: normal;
}

.serif{
  font-family:serif;
  font-weight:500;
}


/* REGISTRATION SLIP */
.h1title,.h2title,.h3title {
  text-align: center;
  line-height: 13px !important;
}

.h1title{
  font-family:Arial,serif!important;
  font-size:15.0px;
  color:rgb(0,0,0);
  font-weight:bold;
  font-style:normal;
  text-decoration: none
}

.h2title{
  font-family:Arial,serif!important;
  font-size:14px;
  color:rgb(128,128,128);
  font-weight:bold;
  font-style:normal;
  text-decoration: none
}

.h3title{
  font-family:Tahoma,serif!important;
  font-size:13.0px !important;
  color:rgb(0,0,0);
  font-weight:bold;
  font-style:normal;
  text-decoration: none
}

.title-cover{
  display: flex;
  justify-content: space-around;
}
.page-mono {
  font-family:'Courier New', Courier, monospace!important;
  color:rgb(0,0,0);
  font-weight:bold;
}

.w20px {
  width: 50px !important;
}

.w50 {
  width: 500px!important;
}

.p5 {
  padding: 2px;
}
.p2 {
  padding: 3px 13px!important;
}

.p0 {
  padding: 0px !important;
}

.title-group{
  font-family:Tahoma,serif!important;
  font-size:12.0px!important;
  color:rgb(0,0,0);
  font-weight:normal;
  font-style:normal;
  text-decoration: none;
}

.title-group2{
  font-family:'Courier New', Courier, monospace!important;
  font-size:13.5px!important;
  color:rgb(0,0,0);
  font-weight:normal;
  font-style:normal;
  text-decoration: none;
  line-height: 28px;
}

.flex-2 {
  width:20%
}

table td {
  /* padding: 15px 15px 15px 0; */
  word-break: keep-all;
}

.stable{
  table-layout: auto;
  border:none !important;
  border-radius:0;
  box-shadow: none;
  width:82%;
  margin:0 auto;
  line-height:9px!important;
}

.stable2{
  table-layout: auto;
  border:none !important;
  border-radius:0;
  box-shadow: none;
  width:95%;
  margin:0 auto;
  line-height:9px!important;
  font-family: 'Courier New', Courier, monospace!important;
}

.stable3{
  border:none !important;
  border-radius:0;
  box-shadow: none;
  width:100%;
  margin:0 auto;
  line-height:9px!important;
}

.thead{
  font-family:Tahoma,serif!important;
  font-size:13.0px!important;
  color:rgb(0,0,0);
  font-weight:bold;
  font-style:normal;
  text-decoration: underline
}

.tbody {
  font-family:Tahoma,serif!important;
  font-size:11.0px!important;
  color:rgb(0,0,0);
  font-weight:normal;
  font-style:normal;
  text-decoration: none;
  border:none !important;
  padding: 5px 5px 5px 0!important;
  line-height:9px!important;
}

.tbody td,.thead td{
  border:none;
  padding: 6px 5px 6px 0!important;
  line-height:12px!important;
}

.tdtitle {
  width:45% !important;
}

.tdtitle2 {
  width:500px !important;
}
.codetitle {
  width:110px !important;
}
.fintitle {
  width:80px !important;
}

.divider {
  width:85%;
  margin: 8px auto!important;
  color:#000 !important;
  border:thin solid #666 !important;
  background: #000;
}

.sub {
  font-size: 10px !important;
  text-align:center !important;
  justify-self: center !important;
  margin-top: -5px !important;
  
}

.ftitle {
  text-align:center;
  font-size: 12px!important;
  font-family:Arial,serif!important;
  color:rgb(255,0,0);
  font-weight:bold;
  font-style:normal;
  text-decoration: none;
  margin: 10px auto !important;
}

.separator{
  width: 85%;
  margin: 0 auto 30px;
  height:2px;
  border-bottom: 3px dashed #666;
}

.fore{
  color:#b76117;
}


@media print{

  .cover{
    border: none;
  }

  .cover1{
    border: none;
    /* margin-top: 300px !important; */
  }

  .maincontent {
    font-size: 22px !important;
  }
  
  .pagebreak {
    page-break-before: left;
  }

  .page-break {
    break-after: page !important;
  }

}

  @page {
    /*size: 50mm 80mm;*/
  }

  @media all {
    .pagebreak {
      display: none;
    }
  }
